.product-card {
  border: 1px solid #eee;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;

  h3 {
    height: 45px;
  }

  button {
    border: 2px solid #e8171f;
    border-radius: 3px;
    color: #e8171f;
    padding: 5px 10px;
    font-weight: 600;
    background: none;
    margin: 5px 2px;
    cursor: pointer;

    &.view {
      background-color: #e8171f;
      color: #fff;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}

.products-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.buttons-wrapper {
  width: 100%;
  display: flex;

  button {
    flex-grow: 1;
  }
}

.badge {
  margin: 0;
  font-size: 12px;
  background-color: #650d94;
  padding: 3px 10px;
  color: #fff;
  border-radius: 10px;
}

@media (max-width: 1400px) {
  .products-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .product-card img {
    max-width: 75%;
    margin: 0 auto;
  }
  .products-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .product-card img {
    max-width: 50%;
  }
  .products-wrapper {
    grid-template-columns: 1fr;
  }
}
